/*mobile*/
@media only screen and (min-width: 320px) {
  * {
    box-sizing: border-box;
    width: 100vw;
  }
  
  body {
    background-color: #d4e7ffc0;
  }
  
  
  .navbar {
    width: 100vw;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 100px;
    z-index: 50;
    background-color: rgba(131, 3, 67);
  }
  
  .navbar-ul {
    list-style: none;
    display: inline-flex;
    margin-top: 35px;
    text-decoration: none;
    float: right;
    text-align: center;
  }
  
  .navbar-ul > li {
    padding-top: 12px;
    padding-bottom: 12px;
    margin-right: 32px;
    color: #bbd4f5c0;
    font-family: 'Open Sans', sans-serif;
    border-radius: 30px;
    border: 1px solid #DEECFF;
  }
  
  .navbar-ul > li > a {
    text-decoration: none;
    color: #bbd4f5c0
  }
  
  .hero {
    margin-top: 90px;
    width: 100vw;
    margin-left: -8px;
  }
  
  .blurb {
    margin-top: -40px;
    font-size: 25px;
    margin-left: 200px;
    font-family: 'Amaranth';
    font-weight: bolder;
    color: #830343;
  }
  
  .about-me > img {
    width: 30vw;
    z-index: 30;
    border-radius: 30px;
    float: right;
    margin-right: 40px;
  }
  
  
  .personal-statement {
    margin-left: 1%;
    margin-right: 20px;
    padding-right: 20px;
    margin-top: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: #830343;
    padding-top: 40px;
    width: 60vw;
    padding-left: 10px;
  }
  
  .projects {
    padding-top: 80px;
    text-align: center;
    font-family: 'Amaranth';
    font-size: 22px;
    font-weight: bold;
    color: #830343;
  }
  
  .project1 , .project2 {
    
    padding-top: 20px;
    max-width: 95vw;
    
  }

  .project2 {
    margin-top: 20px;
  }
  
  .project-image {
    width: 80vw;
    margin-left: 8%;
    margin-right: 8%;
    border-radius: 30px;
    max-width: 820px;
  }
  
  .project-blocks {
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    color: #830343;
     }
  
  .info li {
    display: inline;
    margin: 5px;
  }
  
  .contact {
    padding-top: 30px;
    margin-left: 120px;
  }

    .project-blocks a  {
    font-size: 20px;
    margin-left: 50px;
  }

  .project-blocks p {
    margin-left: 50px;
    max-width: 400px;
  }
}


/*iPad potrait*/
@media only screen and (min-width: 768px) {
  .navbar {
    height: 200px;
  }
  
  .navbar-ul {
   padding-top: 40px;
   width: 80vw;
   margin-right: 15%
  }
  
  .navbar-ul > li {
    padding: 4%;
    font-size: 20px;
  }
  
  .hero {
    margin-top: 190px;
    width: 100vw;
    height: 40vh;
    margin-left: -8px;
  }
  
  .blurb {
    margin-top: -60px;
    font-size: 42px;
    margin-left: 310px;
  }

  .about-me > img {
    margin-left: 50px;
    width: 35vw;
    z-index: 30;
    border-radius: 30px;
    float: right;
    margin-right: 150px;
  }
  
  
  .personal-statement {
   font-size: 22px;
   padding-left: 20px;
  }

  .projects {
    padding-top: 120px;
    padding-right: 100px;
    text-align: center;
    font-family: 'Amaranth';
    font-size: 40px;
    font-weight: bold;
    color: #830343;
  }
  
  
  .project-image {
    width: 80vw;
    margin-left: 3%;
    margin-right: 28%;
    border-radius: 60px;
    padding-top: 20px;
  }

  .project-blocks p , h3 {
    margin-left: -60px;
  }
  
  

  .info li {
    display: inline;
    margin: 75px;
    font-size: 20px;
  }
  
  .contact {
    padding-top: 70px;
    margin-left: 120px;
  }
  .project-blocks a {
    font-size: 30px;
    margin-left: 100px;
  }

  .project-blocks p {
    margin-left: 40px;
    font-size: 20px;
    max-width: 600px;
  }
}


/*iPad lanscape / small laptop*/
@media only screen and (min-width: 1024px) {
  .about-me > img {
    width: 360px;
  }
  .navbar {
    height: 300px;
  }
  
  .navbar-ul {
   padding-top: 40px;
   width: 80vw;
   margin-right: 15%
  }
  
  .navbar-ul > li {
    padding: 4%;
    font-size: 30px;
  }

  .hero {
    margin-top: 290px;
    width: 100vw;
    margin-left: -8px;
  }

  .projects{
    padding-top: 150px;
    font-size: 46px;
  }

  .personal-statement {
    font-size: 28px;
  }

  .blurb {
    font-size: 60px;
    margin-top: -80px;
    margin-left: 410px;
  }

  .project-blocks a {
    font-size: 40px;
  }
  .project-blocks p {
    font-size: 24px;
    max-width: 820px;
    
  }
  .contact {
    padding-top: 120px;
    margin-left: 260px;
  }
  
}

/*large desktop*/
@media only screen and (min-width: 1600px) {
  .project-blocks a {
    font-size: 50px;
    margin-left: 130px;
  }
  .project-blocks p{
margin-left: 70px;
}

.blurb {
  font-size: 90px;
  margin-top: -120px;
  margin-left: 620px;
}

.projects {
  font-size: 66px;
}

.contact {
  padding-top: 180px;
  margin-left: 490px;
}
}




 